@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* cursor: none !important; */
  }

  body {
    @apply flex justify-center overflow-hidden bg-customDirtyWhite p-2 dark:bg-customGray dark:text-white lg:p-4;
    height: 100vh;
    height: 100svh;
  }

  .cursor {
    translate: -50% -50%;
    @apply pointer-events-none absolute left-0 top-0 z-50 rounded-full bg-secondary dark:bg-primary;
  }

  .scrollbar-thin {
    scrollbar-width: thin; /* For Firefox */
  }

  /* Webkit-based browsers */
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    border-radius: 9999px; /* Fully rounded */
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    border-radius: 9999px; /* Fully rounded */
  }

  /* Hide the scrollbar arrows (WebKit-based browsers) */
  .scrollbar-thin::-webkit-scrollbar-button {
    display: none;
  }
}
